/**
 * Portfolio-Styles - the custom styles for the Portfolio theme.
 *
 */


/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

1 Global
2 CTAs
3 Navigation
4 Modal
5 Template Parts
	5.1 Banner
	5.2 About Me
	5.3 Work
	5.4 Testimonial
	5.5 Thank You
	5.6 Copyright
6 Flexible Content
	6.1 General
7 404
8 Footer


--------------------------------------------------------------*/
/*--------------------------------------------------------------
1 Global
--------------------------------------------------------------*/
body {
	color: #333;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: 300;
	line-height: 34px;
}

h1 {
	font-size: 64px;
	font-weight: 600;
	line-height: 74px;
	margin: 0 0 60px;
}

h2 {
	font-size: 42px;
	font-weight: 600;
	line-height: 50px;
	margin: 0 0 30px;
}

h3 {
	font-size: 30px;
	font-weight: 600;
	line-height: 40px;
	margin: 0 0 30px;
}

p {
	margin-bottom: 1em;
}

a,
a:visited {
	color: #333;
	font-weight: 600;
	text-decoration: none;
	transition: color 0.5s ease-in-out;
}

a:active,
a:focus,
a:hover {
	color: #fe3a3c;
	outline: 0;
}

#content {
	padding-top: 40px;
}

.fa.fa-7x {
	font-size: 7em;
}

@media screen and (max-width: 991px) {
	h1,
	h2,
	h3,
	h4 {
		text-align: center;
	}

	#content {
		padding-top: 80px;
	}

	.fa.fa-mobile-5x {
		font-size: 5em;
	}	
}


@media screen and (max-width: 649px) {
	.error404 #content {
		padding-top: 150px;
	}
}

/*--------------------------------------------------------------
2 CTAs
--------------------------------------------------------------*/
.cta,
.cta:visited {
	background-color: #fe3a3c;	
	border: 4px solid #fe3a3c;
	border-radius: 0;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: 400;
	line-height: 1.2;
	padding: 8px 24px;
	transition: background-color 0.5s, border-color 0.5s, color 0.5s ease-in-out;
	text-align: center;
}

.cta:active,
.cta:focus,
.cta:hover {
	background-color: #7f1d1e;
	border-color: #7f1d1e;
	color: #fff !important;
	cursor: pointer;
}

.cta + .cta {
	margin-left: 10px;
}

.primary-cta,
.primary-cta:visited {
	color: #fff;
}

.secondary-cta,
.secondary-cta:visited {
	background-color: transparent;
	color: #fe3a3c;
}

.pseudo-cta {
	color: #fe3a3c;
	display: block;
	font-weight: 600;
	margin-top: 10px;
	text-align: center;
	transition: color 0.5s ease-in-out;
}

.pseudo-cta:after {
	content: '\00bb';
	margin-left: 6px;
}

@media screen and (max-width: 767px) {
	.cta,
	.cta:visited {
		padding: 12px 24px;
	}
}

/*--------------------------------------------------------------
3 Navigation
--------------------------------------------------------------*/
#header-cta,
#header-404-cta {
	text-align: center;
	width: initial;
}

.main-navigation li {
	font-size: 20px;
}

@media screen and (min-width: 640px) {
	.main-navigation li {
		padding: 10px 30px;
	}

	.main-navigation li:first-of-type {
		padding-left: 0;
	}

	.main-navigation li:last-of-type {
		padding-right: 0;
	}

	#header-cta,
	#header-404-cta {
		float: right;
		width: initial;
	}
}

@media screen and (max-width: 639px) {
	.nav-collapse {
		margin-top: 30px;
	}

	.nav-collapse, 
	.nav-collapse ul {
		width: 100%;
	}

	.nav-collapse a {
		padding: 10px 0;
	}

	#header-cta {
		float: left;
		transition: width 0.25s ease-in-out;
		width: 75%;
	}

	#header-404-cta {
		display: block;
		float: none;
		width: 100%;
	}

	.nav-collapse.opened + #header-cta {
		margin: 20px 0;
		width: 100%;
	}
}

/*--------------------------------------------------------------
4 Modal
--------------------------------------------------------------*/
.modal-open {
  overflow: hidden;
}

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}

.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.modal-header {
  border-bottom: 2px solid #ddd;
  padding: 30px;
  position: relative;
}

.modal-header .close {
  background-color: transparent;
  border: none;
  float: right;
  padding: 0;
  position: absolute;
  right: 30px;
  top: 30px;
  transition: color 0.5s ease-in-out;
}

.modal-header .close:active,
.modal-header .close:focus,
.modal-header .close:hover {
	color: #7f1d1e;
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
}

.modal-body {
  position: relative;
}

.modal-body .modal-overview {
	padding: 30px;
}

.modal-body .modal-skills {
	background-color: #cceaf4;
	padding: 30px 30px 30px 90px;
}

.modal-body .modal-skills-arrow {
	border-bottom: 40px solid transparent;
	border-left: 40px solid #fff;
	border-top: 40px solid transparent;
	height: 0;
	position: absolute;
	right: -40px;
	top: 40%;
	width: 0;
	z-index: 10;
}

.modal-body ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.modal-body li {
	line-height: 1.15em;
	margin-bottom: 10px;
	margin-left: 20px;
	position: relative;
}

.modal li:before {
	content: '\f10c';
	font-family: 'fontAwesome';
	font-size: 20px;
	position: absolute;
	left: -30px;
}

.modal-footer {
  padding: 30px;
  text-align: right;
  border-top: 2px solid #ddd;
}

.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (max-width: 991px) {
	.modal-body .modal-skills {
		padding: 60px 30px 30px;
	}

	.modal-body .modal-skills-arrow {
		border-left: 40px solid transparent;
		border-right: 40px solid transparent;
		border-top: 40px solid #fff;
		margin-left: -40px;
		bottom: -80px;
		left: 50%;
		top: initial;
	}
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }

  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }

  .modal-sm {
    width: 300px;
  }
}

@media (max-width: 767px) {
	.modal-footer .cta {
		display: block;
		width: 100%;
	}

	.modal-footer .cta:first-of-type {
		margin-bottom: 30px;
	}

	.modal-footer .cta + .cta {
		margin-left: 0;
	}
}

@media (max-width: 359px) {
	.modal-header img {
		max-width: 80%;
	}
}

@media (min-width: 992px) {
	.modal-lg {
		width: 900px;
	}

	.modal-body .row {
		display: flex;
	}
}

.clearfix:before,
.clearfix:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}

.clearfix:after,
.modal-header:after,
.modal-footer:after {
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.hidden {
  display: none !important;
}

.affix {
  position: fixed;
}

/*--------------------------------------------------------------
5 Template Parts
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Banner
--------------------------------------------------------------*/
.banner-section {
	background-color: #f3f3f3;
	margin: 0 0 30px;
	position: relative;
}

.banner-section h1 {
	border-bottom: 4px solid #333;
	display: inline-block;
	margin: 0 0 10px;
	padding: 0 0 10px;
}

.banner-section h2 {
	font-weight: 300;
	margin: 0;
}

.banner-content-image {
	background-position: 50% 100%;
	background-repeat: no-repeat;
	/*background-size: 280px;*/
	background-size: contain;
	height: 320px;
}

.banner-content-icon {
	display: flex;
	align-items: center;
	justify-content: center;
}

.banner-section:after {
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-top: 40px solid #f3f3f3;
	bottom: -40px;
	content: '';
	height: 0;
	left: 50%;
	margin-left: -40px;
	position: absolute;
	width: 0;
}

@media screen and (min-width: 992px) {
	.banner-content {
		display: flex;
		align-items: center;
		padding-top: 30px;
	}

	.banner-content-icon {
		height: 360px;
	}
}

@media screen and (max-width: 991px) {
	.banner-content-text {
		text-align: center;
	}

	.banner-section h1 {
		margin: 30px 0 30px;
		padding-bottom: 30px;
	}

	.banner-section h2 {
		margin-bottom: 60px;
	}

	/*.banner-content-image,*/
	.banner-content-icon {
		margin-top: 50px;
	}
}

@media screen and (max-width: 420px) {
	.banner-section h1 {
		font-size: 54px;
		line-height: 64px;
	}

	.banner-section h2 {
		font-size: 38px;
		line-height: 48px;
	}
}

/*--------------------------------------------------------------
5.2 About Me
--------------------------------------------------------------*/
.about-me-section {
	padding: 30px 0;
}

.about-me-section ul {
	background-color: #cceaf4;
	list-style: none;
	margin: 0;
	padding: 20px 30px;
}

.about-me-section li {
	font-size: 20px;
	line-height: 1em;
	margin-bottom: 18px;
	margin-left: 30px;
	position: relative;
}

.about-me-section li:last-of-type {
	margin-bottom: 0;
}

.about-me-section li .fa {
	position: absolute;
	left: -40px;
}

.about-me-section li img {
	height: 20px;
	position: absolute;
	left: -40px;
}

@media screen and (max-width: 991px) {
	.about-me-section {
		margin-top: 60px;	
	}
}

/*--------------------------------------------------------------
5.3 Work
--------------------------------------------------------------*/
.work-section {
	padding: 30px 0;
}

.work-section-content-container {
	display: block;
	color: #333;
	font-weight: 300;
}

.work-section-content-container:active,
.work-section-content-container:focus,
.work-section-content-container:hover {
	color: #333;
}

.work-section-content-block {
	border: 3px solid #fe3a3c;
	padding: 20px 15px;
	position: relative;
	transition: background-color 0.5s ease-in-out;
}

.work-section-content-block:active,
.work-section-content-block:focus,
.work-section-content-block:hover {
	background-color: #fe3a3c;
	border-color: #fe3a3c;
	color: #fff;
}

.work-section-content-block:active .pseudo-cta,
.work-section-content-block:focus .pseudo-cta,
.work-section-content-block:hover .pseudo-cta {
	color: #fff;
}

.work-section-content-block:active .work-section-logo.versapay-logo,
.work-section-content-block:focus .work-section-logo.versapay-logo,
.work-section-content-block:hover .work-section-logo.versapay-logo {
	background: url( http://nathanmhouse.com/wp-content/themes/portfolio/assets/images/versapay-logo-white.png ) no-repeat center;
}

.work-section-content-block:active .work-section-logo.leveragepoint-logo,
.work-section-content-block:focus .work-section-logo.leveragepoint-logo,
.work-section-content-block:hover .work-section-logo.leveragepoint-logo {
	background: url( http://nathanmhouse.com/wp-content/themes/portfolio/assets/images/leveragepoint-logo-white.png ) no-repeat center;
}

.work-section-content-block:active .work-section-logo.fmb-logo,
.work-section-content-block:focus .work-section-logo.fbm-logo,
.work-section-content-block:hover .work-section-logo.fbm-logo {
	background: url( http://nathanmhouse.com/wp-content/themes/portfolio/assets/images/fbm-logo-white.png ) no-repeat center;
}

.work-section-content-block:active .work-section-logo.brainrider-logo,
.work-section-content-block:focus .work-section-logo.brainrider-logo,
.work-section-content-block:hover .work-section-logo.brainrider-logo {
	background: url( http://nathanmhouse.com/wp-content/themes/portfolio/assets/images/brainrider-logo-white.png ) no-repeat center;
}


.work-section-content-block p {
	margin-bottom: 0;
}

.work-section-logo {
	display: block;
	margin-bottom: 20px;
}

.work-section-logo.versapay-logo {
	background: url( http://nathanmhouse.com/wp-content/themes/portfolio/assets/images/versapay-logo-red.png ) no-repeat center;
	height: 43px;
}

.work-section-logo.leveragepoint-logo {
	background: url( http://nathanmhouse.com/wp-content/themes/portfolio/assets/images/leveragepoint-logo-red.png ) no-repeat center;
	height: 43px;
}

.work-section-logo.fbm-logo {
	background: url( http://nathanmhouse.com/wp-content/themes/portfolio/assets/images/fbm-logo-red.png ) no-repeat center;
	height: 43px;
}

.work-section-logo.brainrider-logo {
	background: url( http://nathanmhouse.com/wp-content/themes/portfolio/assets/images/brainrider-logo-red.png ) no-repeat center;
	height: 43px;
}

@media screen and (min-width: 1200px) {
	.work-section-content-block {
		min-height: 350px;
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	.work-section-content-block {
		min-height: 380px;
	}
}

@media screen and (min-width: 992px) {
	.work-section-content-block .pseudo-cta {
		position: absolute;
		bottom: 20px;
		left: 0;
		width: 100%;
	}
}

@media screen and (max-width: 991px) {
	.work-section-content-container {
		margin-bottom: 30px;
	}
}

/*--------------------------------------------------------------
5.4 Testimonial
--------------------------------------------------------------*/
.testimonial-section {
	background-color:  #cceaf4;
	display: flex;
	margin-bottom: 30px;
}

.testimonial-section .testimonial-content-text {
	background-color: #fff;	
}

.testimonial-content-text p {
	position: relative;
}

.testimonial-content-text p:before {
	content: '\201c';
	font-size: 70px;
	position: absolute;
	left: -40px;
	top: -5px;
}

.testimonial-content-text p:after {
	content: '\201d';
	font-size: 70px;
	position: absolute;
	bottom: -40px;
	right: -5px;
}

.testimonial-content-title {
	border-top: 4px solid #333;
	display: inline-block;
	font-weight: 600;
	padding-top: 20px;
}

.testimonial-content-role {
	display: block;
}

.testimonial-content-image {
	background-position: 50% 0%;
	background-repeat: no-repeat;
}

@media screen and (min-width: 992px) {
	.testimonial-section {
		margin-top: 30px;
	}

	.testimonial-section .row {
		display: flex;
	}

	#testimonials .testimonial-content-image {
		background-position-y: 100%;
		min-height: 360px;
	}

	.testimonial-section .testimonial-content-text {
		padding: 20px 50px 20px 100px;
	}

	.testimonial-section-arrow {
		border-bottom: 40px solid transparent;
		border-left: 40px solid #cceaf4;
		border-top: 40px solid transparent;
		height: 0;
		position: absolute;
		right: -40px;
		top: 40px;
		width: 0;
	}
}

@media screen and (max-width: 991px) {
	.testimonial-content-text {
		position: relative;
	}

	.testimonial-content-image {
		height: 360px;
		margin-top: 80px;
	}

	.testimonial-section .testimonial-content-text {
		padding: 30px 60px;
	}

	.testimonial-section-arrow-mobile {
		border-left: 60px solid transparent;
		border-right: 60px solid transparent;
		border-top: 60px solid #fff;
		bottom: -60px;
		content: '';
		height: 0;
		left: 50%;
		margin-left: -60px;
		position: absolute;
		width: 0;
	}
}

@media screen and (max-width: 991px) and (min-width: 801px) {
	.testimonial-section {
		padding-top: 60px;
	}
}

@media screen and (max-width: 800px) {
	.testimonial-section .container {
		width: 100%;
	}
}

@media screen and (max-width: 767px) {
	.testimonial-content-text p {
		margin-top: 0;
	}
}

@media screen and (max-width: 420px) {
	.testimonial-section .testimonial-content-text {
		padding: 30px 15px;
	}

	.testimonial-content-text p:before {
		content: normal;
	}

	.testimonial-content-text p:after {
		content: normal;
	}
}

/*--------------------------------------------------------------
5.5 Thank You
--------------------------------------------------------------*/
.thank-you-section {
	padding: 30px 0;
}

@media screen and (max-width: 991px) {
	.thank-you-section {
		padding: 30px 0 0;
	}
}

/*--------------------------------------------------------------
5.6 Copyright
--------------------------------------------------------------*/
.copyright-section {
	font-size: 20px;
	padding: 30px 0;
}

@media screen and (max-width: 991px) {
	.copyright-section {
		text-align: center;
	}
}

/*--------------------------------------------------------------
6 Flexible Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
6.1 General
--------------------------------------------------------------*/
.content-row.padding-all {
	padding: 20px 0;
}

.content-row-1.padding-all {
	padding: 120px 0 20px;
}

.content-row.padding-top {
	padding: 20px 0 0;
}

.content-row-1.padding-top {
	padding: 120px 0 0;
}

.content-row.padding-bottom {
	padding: 0 0 20px;
}

/*--------------------------------------------------------------
7 404
--------------------------------------------------------------*/
#menu-404 .menu-item {
	font-size: 24px;
}

.content-404-work .work-section {
	padding: 30px 0 40px;
}

@media screen and (min-width: 992px) {
	.content-404-section {
		padding: 60px 0 30px;
	}
}

@media screen and (max-width: 991px) {
	.error404 .banner-section h1 {
		margin: 0 0 20px;
		padding: 0 0 20px;
	}

	.content-404-work .work-section {
		padding: 30px 0 0;
	}
}

@media screen and (max-width: 767px) {
	.content-404-section {
		padding: 60px 0 0;
	}
}

@media screen and (max-width: 649px) {
	.navigation-404 {
		float: none;
		text-align: center;
	}

	#menu-404 {
		display: block;
		margin-bottom: 20px;
	}

	#menu-404 .menu-item {
		float: none;
	}
}

/*--------------------------------------------------------------
8 Footer
--------------------------------------------------------------*/
footer {
	background-color: #f3f3f3;
}

.footer-colophon {
	padding: 60px 0 30px;
}

.footer-colophon-text h3 {
	margin-bottom: 2px;
}

.footer-colophon-text h4 {
	font-weight: 400;
	margin-top: 0;
}

.footer-colophon-social {
	border-top: 4px solid #333;
	display: inline-block;
	padding-top: 30px;
}

.footer-colophon-social i {
	margin-right: 20px;
}

footer .footer-contact-form {
	background-color: #fff;
}

.footer-contact-form h3 {
	margin-bottom: 10px;
}

.footer-contact-form a,
.footer-contact-form a:visited {
	color: #fe3a3c;
	transition: color 0.5s ease-in-out;
}

.footer-contact-form a:active,
.footer-contact-form a:focus,
.footer-contact-form a:hover {
	color: #7f1d1e;
}

.footer-contact-form .intro-text {
	font-size: 18px;
	margin: 0 0 10px;
}

#footer-contact-form label {
	display: block;
	font-weight: 400;
	margin-bottom: 3px;
}

.footer-contact-form .form-field {
	margin: 0 0 15px;
}

.footer-contact-form .required label:after {
	content: '*';
	font-size: 20px;
	vertical-align: super;
}

.footer-contact-form input[type="text"],
.footer-contact-form input[type="email"],
.footer-contact-form textarea {
	border: 4px solid #f3f3f3;
	color: #333;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 20px;
	padding: 6px;
	width: 100%;
}

.footer-contact-form .primary-cta,
.footer-contact-form .primary-cta:visited {
	background-color: #fe3a3c;
	border: 0;
	border-radius: 0;
	color: #fff;
	float: right;
	font-size: 24px;
	margin-top: 30px;
	padding: 14px 50px;
	transition: background-color 0.5s ease-in-out;
}

.footer-contact-form .primary-cta:active,
.footer-contact-form .primary-cta:focus,
.footer-contact-form .primary-cta:hover {
	background-color: #7f1d1e;
}

#footer-contact-form .errors {
	border-color: #fe3a3c;
}

#footer-contact-form .error.inactive {
	display: none;
}

#footer-contact-form .error.active {
	display: block;
	color: #fe3a3c;
	margin: 10px 0 0;
}

@media screen and (min-width: 992px) {
	footer .row {
		display: flex;
	}

	.footer-arrow {
		border-bottom: 40px solid transparent;
		border-left: 40px solid #f3f3f3;
		border-top: 40px solid transparent;
		height: 0;
		position: absolute;
		right: -40px;
		top: 40px;
		width: 0;
	}

	footer .footer-contact-form {
		min-height: 680px;
		padding: 60px 30px 30px 60px;
	}

	.footer-colophon-text {
		padding-right: 60px;
	}
}

@media screen and (max-width: 991px) {
	.footer-contact-form {
		padding-bottom: 60px;
		padding-top: 40px;
	}

	.footer-colophon-social {
		display: block;
		text-align: center;
	}

	.footer-contact-form .primary-cta, 
	.footer-contact-form .primary-cta:visited {
		float: none;
		width: 100%;
	}
}

@media screen and (max-width: 991px) and (min-width: 801px) {
	footer {
		padding-top: 60px;
	}

	.footer-contact-form {
		padding-top: 30px;
	}
}

@media screen and (max-width: 800px) {
	footer .container {
		width: 100%;
	}
}